doctype html
html(lang="en")
    include section/header
    body

        include module/feauturelist
        include module/testimonials
        include module/otherservices

    include section/footer
