body
  background: #fff
  margin: 0 0

//FLOAT
.fleft
  float: left
.fright
  float: right

//Button
.ctaBtn
  width: 135px
  height: 36px
  font-family: $Roboto
  font-size: 17px
  text-align: center
  display: inline-block
  background: rgba(229, 87, 16, 1)
  border: 1px rgba(229, 87, 16, 1) solid
  border-radius: 5px
  line-height: 36px
  color: #fff
  margin-bottom: 5px
  +transitionspeed(500ms)

  +breakpoint($bp-large)
    width: 136px
    height: 40px
    line-height: 40px

  &:hover
    transform: scale(1.2)
    color: #fff

  &:focus
    transform: scale(1.13)
    transition: 100ms
    color: #fff

  &-light
    @extend .ctaBtn
    background: #fff
    margin-right: 12px
    color: rgba(229, 87, 16, 1)

    +breakpoint($bp-large)
      margin-right: 30px

    &:hover
      transform: scale(1.2)
      color: rgba(229, 87, 16, 1)

    &:focus
      transform: scale(1.13)
      transition: 100ms
      color: rgba(229, 87, 16, 1)





