.module-banner.js-banner
    .module-banner__item(style="background-image: url('http://lorempixel.com/1440/407/city')")
        .module-banner__text
            h3.module-banner__title HDB Full Agent Services
            h4.module-banner__price $2888

            p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission.

            a.ctaBtn-light() Learn More
            a.ctaBtn() Book Service
    .module-banner__item(style="background-image: url('http://lorempixel.com/1440/407/sports')")
        .module-banner__text
            h3.module-banner__title HDB Full Agent Services
            h4.module-banner__price $2888

            p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission.

            a.ctaBtn-light() Learn More
            a.ctaBtn() Book Service

    .module-banner__item(style="background-image: url('http://lorempixel.com/1440/407/business')")
        .module-banner__text
            h3.module-banner__title HDB Full Agent Services
            h4.module-banner__price $2888

            p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission.

            a.ctaBtn-light() Learn More
            a.ctaBtn() Book Service

    .module-banner__item(style="background-image: url('http://lorempixel.com/1440/407/fashion')")
        .module-banner__text
            h3.module-banner__title HDB Full Agent Services
            h4.module-banner__price $2888

            p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission.

            a.ctaBtn-light() Learn More
            a.ctaBtn() Book Service

