.module-featurelist
    h3 HDB Full Agent Services
    .module-featurelist__container
        .module-featurelist__column
            .module-featurelist__item.has-icon
                h4 Conducted by:
                ul
                    li Ohmyhome’s CEA Licensed Property Agents, the experts in selling HDB Flats
                    li All Property Agents have more than 5 years experience
            .module-featurelist__item.has-icon
                h4 Suitable for:
                ul
                    li Ohmyhome’s CEA Licensed Property Agents, the experts in selling HDB Flats

            .module-featurelist__item.has-icon
                h4 Payment Terms:
                ul
                    li All Property Agents have more than 5 years experience

            .module-featurelist__item.has-icon
                h4 Meet Up Location:
                ul
                    li Ohmyhome’s CEA Licensed Property Agents, the experts in selling HDB Flats

        .module-featurelist__column
            .module-featurelist__item.has-icon
                h4 Meet Up Location:
                ul.compressed
                    li Meet up with the Client
                    li Market Research on Valuation
                    li Check your Eligibility to Sell
                    li Submit HDB Resale Checklist
                    li Present to you the HDB Pricing
                    li Assist you in Selling HDB Flat through Advertising/ Sourcing
                    li Schedule of Viewings and Negotiations
                    li Issue Option to Purchase (OTP)
                    li Submit Resale Application to HDB
                    li Schedule & Attend 1st HDB Appointment
                    li Attend HDB Completion Appointment (Completion Date)

            .module-featurelist__schedule
                h4 Schedule a meeting today!
                p Meet with our agents and learn more about our services!

                a.ctaBtn-light(href='#' ) Contact Us
                a.ctaBtn(href='#' ) Book Service

