.module-otherservices
    .module-otherservices__container.js-slider
        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More
        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More

        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More

        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More