.module-otherservices
    .module-otherservices__container.js-slider
        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media(style="background-image: url('http://lorempixel.com/400/400/sports')")
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More
        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media(style="background-image: url('http://lorempixel.com/400/400/fashion')")
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More

        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media(style="background-image: url('http://lorempixel.com/400/400/business')")
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More

        .module-otherservices__item
            h3 From advertising, viewings
            .module-otherservices__media(style="background-image: url('http://lorempixel.com/400/400/city')")
            .module-otherservices__text
                h3 From advertising, viewings
                p From advertising, viewings to documentations, our HDB full agent services are at a Fixed Rate with No Commission. From advertising, viewings to.
                a.ctaBtn.fright() Learn More