.module-savings
    h2 Why Choose Ohmyhome?
    p Ohmyhome is the first and only Fixed Rate HDB Agent Service provider in Singapore. We aim to help you save 1-2% agent commissions which you may spend elsewhere.