.module-savings
    h2 Why Choose Ohmyhome?
    p Ohmyhome is the first and only Fixed Rate HDB Agent Service provider in Singapore. We aim to help you save 1-2% agent commissions which you may spend elsewhere.

    .module-savings__range
        .module-savings__range-slide
            h3 Your Selling Price
            p.sellingprice $
                span 200,000

            .range-slider
                input.range(type="range" min="200000" max="1000000" step="1" value="100000")



        .module-savings__range-total
            .module-savings__text
                h3 Your Savings
                p.savingsamount $
                    span 1,112

            a.ctaBtn-light Contact Us
            a.ctaBtn Book Service
