.module-testimonials
    .module-testimonial__video
        .module-testimonial__video-item.js-videoplayer
            .acontent
                iframe#videoembed(width='560', height='315', src='https://www.youtube.com/embed/k2PJ6T7U2eU', frameborder='0', allowfullscreen='')

            .video-play-caption
                a.video-playBtn
                p.video-caption Look at our happy clients


    .module-testimonial__comments
        ul.module-testimonial__comments-items
            li
                p "Within one week, we have the first viewing. At the end of the 3rd week, the OTP was signed and the deal was sealed "
                p
                    strong Mrs.Bin
            li
                p "The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic."
                p
                    strong Mrs.Bin
            li
                p "Within one week, we have the first viewing. At the end of the 3rd week the OTP was signed and the deal was sealed."
                p
                    strong Mrs.Bin
