footer
    .footer-container
        .footer-logo
            a(href="")
                img(src="dist/images/ohmyhome-logo-large.png" alt="logo footer")
        .footer-pagelist
            .footer-pagelist__column
                h3 Ohmyhome
                ul
                    li
                        a() About
                    li
                        a() Careers
                    li
                        a() Press
                    li
                        a() Policies
                    li
                        a() Help
            .footer-pagelist__column
                h3 Gudes
                ul
                    li
                        a() HBD Process
                    li
                        a() Landlords
                    li
                        a() Buyers
                    li
                        a() Sellers
                    li
                        a() Cost
            .footer-pagelist__column
                h3 Blogs
                ul
                    li
                        a() HBD Life
                    li
                        a() Tips and Tricks
                    li
                        a() Press
                    li
                        a() Policies



script(type='text/javascript' src='./dist/scripts/vendors.js').
script(type='text/javascript' src='./dist/scripts/main.js').